<div class="container">
  <div class="row">
    <div class="col-md-6">
     <div class="form-group">
      <label for="prodTitle">Product Title</label>
      <input matInput  #prodTitle class="form-control">
     </div>
     <div class="form-group">
      <label for="prodDescription">Product Description</label>
      <textarea matInput #prodDescription class="form-control" rows="10" cols="10"></textarea>
     </div>
     <div class="text-right">
      <button mat-raised-button color="accent" class = "mr-4" (click) = "onProdAdd()">Add Product</button>
      <button mat-raised-button color="primary" (click) = "onCatlogAdd()">Add Catlog</button>
     </div>
    </div>
    <div class="col-md-6">
   <app-product-card [getProduct]= "productsArray"></app-product-card>
   <!-- <mat-card class = "mb-4 alert"
   *ngFor = "let product of productsArray">
       <mat-card-title>
          {{product.prodTitle}}
       </mat-card-title>
       <mat-card-content>
          {{product.prodDescription}}
       </mat-card-content>
       <mat-card-actions class = "d-flex justify-content-between">
       <button mat-raised-button color="primary">Edit</button>
       <button mat-raised-button color="warn">Delete</button>
       </mat-card-actions>
   </mat-card>
    -->
   


      </div>
  </div>
</div>
